RewriteEngine On
RewriteBase /

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://shahmlaw.sa%{REQUEST_URI} [L,R=301]

# Remove www
RewriteCond %{HTTP_HOST} ^www\.shahmlaw\.sa$ [NC]
RewriteRule ^(.*)$ https://shahmlaw.sa/$1 [L,R=301]

# Existing files/folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Allow robots & sitemap
RewriteRule ^robots\.txt$ - [L]
RewriteRule ^sitemap\.xml$ - [L]

# React Router
RewriteRule ^ index.html [L]