@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap");
@import "./assets/fonts/fonts.css";

/* ===============================
   RESET & GLOBAL
================================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 15px;
  line-height: 1.8;

  color: #33383C;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===============================
   CODE (Dev only)
================================ */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
